<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala de Llamadas</title>
    <link rel="stylesheet" href="/assets/css/components/llamadas.css">
    <link rel="shortcut icon" href="/assets/img/logotipo_para_editar-removebg-preview.png" </head>
    <header>
        <h1>Dars Academy</h1>
        <nav>
            <ul>
                <li><a href="/pages/components/login.html">Iniciar sesión</a></li>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/components/foro.html">Interacción académica</a></li>
                <li><a href="/components/chat.html">Chat en tiempo real</a></li>
                <li><a href="/components/llamadas.html">Comunicaciones virtuales</a></li>
                <li><a href="/components/proyectos.html">Proyectos</a></li>
                <li><a href="/components/contacto.html">Contacto</a></li>
                <li><a href="/components/sobre.html">Sobre nosotros</a></li>
            </ul>
        </nav>
    </header>

<body>
    <header>
        <h1>Sala de Llamadas</h1>
        <nav>
            <ul>
                <li><a href="#crear">Crear Sala</a></li>
                <li><a href="#unirse">Unirse a Sala</a></li>
            </ul>
        </nav>
    </header>

    <main class="fondo">
        <section class="sala">
            <h2>Crear una Sala</h2>
            <button class="btn btn--crear">Generar Código</button>
            <p class="codigo">Código: <span>----</span></p>

            <h2>Unirse a una Sala</h2>
            <input type="text" class="input" placeholder="Ingresa el código">
            <button class="btn btn--unirse">Unirse</button>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Sala de Llamadas</p>
    </footer>
</body>

</html>